<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
    {% block style %}

    {% endblock %}
</head>
<body>
    <div class="nav-panel">
        {% if user.login == True %}
        <div class="nav-link" id="account">
            <p>{{ user.name }}</p>
        </div>
        <div class="nav-link" id="logout">
            <p>
                <a class="nav-link" href="{% url 'logout' %}">Выход</a>
            </p>
        </div>
        {% else %}
        <div class="nav-link" id="register" style="width: 150px;">
            <p>
                <a class="nav-link" href="{% url 'reg' %}">Регистрация</a>
                <a class="nav-link" href="#">|</a>
                <a class="nav-link" href="{% url 'login' %}">Вход</a>
            </p>
        </div>
        {% endif %}
        <div class="nav-link" id="play">
            <p>
                <a class="nav-link" href="{% url 'play' %}">Играть</a>
            </p>
        </div>
    </div>
    {% block content %}
    
    {% endblock %}
    {% block script %}

    <script src="{% static 'index.js' %}"></script>
    {% endblock %}
</body>
</html>