{% extends 'base.html' %}
{% load static %}
{% block title %}Игра{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'game.css' %}">
{% endblock %}

{% block content %}
<div class="game__zone">
    <div class="desk">
        <div class="cards__zone">
            <div class="coloda">
                coloda
            </div>
            <div class="my__cards">
                <div class="card__x5" id="card__1">c1</div>
                <div class="card__x5" id="card__2">c2</div>
                <div class="card__x5" id="card__3">c3</div>
                <div class="card__x5" id="card__4">c4</div>
                <div class="card__x5" id="card__5">c5</div>
            </div>
        </div>
        <div class="play__zone">

        </div>
    </div>
    <div class="players">
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'game.js' %}"></script>
{% endblock %}