{% extends 'base.html' %}
{% load static %}
{% block title %}Игры{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'game-list.css' %}">
{% endblock %}
{% block content %}
<div class="server__manual">
    <div class="status">Статус</div>
    <div class="server__number">Номер</div>
    <div class="players__online">Онлайн/Максимум</div>
</div>

<div class="all__servers">
    {% for game in games %}
    <a href="{{ game.id }}/game.html">
        <div class="server">
            <div class="status"><div></div></div>
            <div class="id">{{ game.id }}</div>
            <div class="max__players">{{ game.players }}/{{ game.maxPlayers }}</div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}