:root {
    --servers-width: 500px;
    --free-column-width: 33.333333333333333%;
    --servers-bg: rgba(1, 1, 1, 0.227);
}

.all__servers {
    margin: auto;
    width: var(--servers-width);
}

.server {
    margin-top: 10px;
    display: flex;
    border-radius: 5px;
    background-color: var(--servers-bg);
}

.server>.status,
.server>.id,
.server>.max__players {
    width: var(--free-column-width);
    vertical-align: middle;
    padding: 2px;
}

.status>div {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(38, 216, 22);
    margin: auto;
}

.server__manual {
    margin: auto;
    background-color: var(--servers-bg);
    display: flex;
    width: var(--servers-width);
    height: 25px;
}

.server__manual>.status,
.server__manual>.server__number,
.server__manual>.players__online {
    width: var(--free-column-width);
    vertical-align: middle;
    padding: 2px;
}