:root {
    --player-bg: rgba(1, 1, 1, 0.227);
}

html, body {
    height:100%; 
}

.game__zone {
    display: flex;
}

.desk {
    width: 75%;
    min-height: calc(100vh - 50px);
    background-color: green;
}

.players {
    width: 25%;
}

.player {
    background-color: var(--player-bg);
    margin: auto;
    margin-top: 10px;
    width: max(200px, 75%);
    border-radius: 7.5px;
}

.player>.player-name {
    padding: 5px;
}

.cards__zone {
    display: flex;
    height: 100px;
}

.play__zone {
    height: calc(100% - 100px);
}

.coloda {
    width: 15%;
}

.my__cards {
    display: flex;
    width: 85%;
}

.card__x5 {
    width: 20%;
}

